.form-inline {
  display: inline-block;
  flex-flow: row wrap;
  align-items: center;
  margin: 30px;
}

.elem {
  margin-left: 5px;
  float: left;
}

.elem-2 {
  position: relative;
  float: right;
}
