h2  {
  margin: 30px;
  font-size: 20px;
}

.pledge-page-main {
  height: 100%;
  background-color: #60c5b7;
  align-content: center;
  margin: 50px;
  top: 50%;
}

.elem-3 {
  margin: 15px 10px 50px 75px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}
.pledge {
  height: 80%;
  width: 50%;
  background-color: #fffff4;
  border-radius: 40px;
  margin-left: 40px;
  padding: 20px 0px 20px 0px;
  vertical-align: middle;
  display: inline-block;
}

.form {
  height: 40%;
  width: 40%;
  background-color: #Add8E6;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px 0px 40px;
  border-radius: 40px;
}

.pledge-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: left;
}

.font-color-white {
  color: white;
  font-family: inherit;
}
