h2  {
  margin: 30px;
  font-size: 20px;
}

.pledge-page-main {
  height: 100%;
  margin: 50px;
  top: 50%;
}

.elem-3 {
  margin: 15px 10px 50px 75px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

.pledge-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: left;
}

.font-color-white {
  color: white;
  font-family: inherit;
}
